/* Colors */
.title-assistant {
  background-color: #A5C9FF;
}

.title-regional-manager {
  background-color: #AAFFBE;
}

.title-salesman {
  background-color: #FFEFCA;
}

.title-office-administrator {
  background-color: #FFD9D1;
}

.title-accountant {
  background-color: #EFE7FF;
}

.title-suplier {
  background-color: #EAFBFF;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: Lato;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #FAFDFF;
}

body .off-grid {
  -ms-grid-columns: 60px (1fr)[4] !important;
      grid-template-columns: 60px repeat(4, 1fr) !important;
}

body .site-wrap {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 225px (1fr)[4];
      grid-template-columns: 225px repeat(4, 1fr);
  -ms-grid-rows: 65px 128px (1fr)[3];
      grid-template-rows: 65px 128px repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

body .site-wrap .sidebar-wrap {
  z-index: 9;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #174A84;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 6 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .site-wrap .sidebar-wrap .off-canvas-circle {
  z-index: 99999;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: 12px;
  border: 1px solid #174A84;
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: 0.5s all ease-in;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  cursor: pointer;
}

body .site-wrap .sidebar-wrap .off-canvas-circle:hover > i {
  transition: 0.5s all ease-in;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
}

body .site-wrap .sidebar-wrap .off-canvas-circle i {
  font-size: 14px;
  color: #174A84;
}

body .site-wrap .sidebar-wrap .off-canvas-circle:hover {
  cursor: pointer;
}

body .site-wrap .sidebar-wrap .rotate-off-canvas-circle {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

body .site-wrap .sidebar-wrap #logo {
  padding: 31px 19px;
  width: 163px;
  height: 26px;
}

body .site-wrap .sidebar-wrap #left__menu {
  margin-top: 157px;
  list-style: none;
  padding: 0;
}

body .site-wrap .sidebar-wrap #left__menu li {
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
  border-left: 6px solid transparent;
}

body .site-wrap .sidebar-wrap #left__menu li.active {
  border-left: 6px solid #AAFFBE;
}

body .site-wrap .sidebar-wrap #left__menu li:hover {
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
  border-left: 6px solid #AAFFBE;
}

body .site-wrap .sidebar-wrap #left__menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-wrap .sidebar-wrap #left__menu li a img {
  height: 24px;
  width: 24px;
  padding: 12px 20px 12px 20px;
}

body .site-wrap .sidebar-wrap #left__menu li a p {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

body .site-wrap .sidebar-wrap #left__feedbackButton {
  margin: auto 15px 41px 15px;
  width: 195px;
  height: 48px;
  background: transparent;
  border: 1px solid #AAFFBE;
  border-radius: 7px;
  color: #AAFFBE;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}

body .site-wrap .sidebar-wrap #left__feedbackButton:hover {
  cursor: pointer;
  background: #AAFFBE;
  color: #174A84;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}

body .site-wrap aside.off {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  width: 60px;
}

body .site-wrap aside.off #left__menu li a p {
  display: none;
}

body .site-wrap aside.off a#logo, body .site-wrap aside.off button#left__feedbackButton {
  display: none;
}

body .site-wrap .header-wrap {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 1 / 2 / 2 / 6;
}

body .site-wrap .header-wrap nav {
  background: #ffffff;
  border-bottom: 1px solid #A5C9FF;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-wrap .header-wrap nav #nav__leftSide {
  padding: 0 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .site-wrap .header-wrap nav #nav__leftSide p {
  margin-right: 9px;
}

body .site-wrap .header-wrap nav #nav__leftSide p,
body .site-wrap .header-wrap nav #nav__leftSide i {
  font-size: 16px;
  font-weight: bold;
  color: #174A84;
}

body .site-wrap .header-wrap nav #nav__leftSide p:hover,
body .site-wrap .header-wrap nav #nav__leftSide i:hover {
  cursor: pointer;
}

body .site-wrap .header-wrap nav #nav__leftSide #nav__leftSide__dropdown {
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
  position: absolute;
  left: 22px;
  top: 20px;
  background-color: #ffffff;
  display: none;
  z-index: 999;
  transition: 0.5s all ease-in;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
}

body .site-wrap .header-wrap nav #nav__leftSide #nav__leftSide__dropdown ul {
  padding: 15px;
  list-style: none;
}

body .site-wrap .header-wrap nav #nav__leftSide #nav__leftSide__dropdown ul li {
  font-size: 16px;
  font-weight: light;
  color: #174A84;
  margin: 8px auto;
}

body .site-wrap .header-wrap nav #nav__leftSide:hover > #nav__leftSide__dropdown {
  transition: 0.5s all ease-in;
  display: block;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -ms-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
}

body .site-wrap .header-wrap nav #nav__rightSide {
  padding: 0 12px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-wrap .header-wrap nav #nav__rightSide ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 18px;
  border-bottom: 5px solid transparent;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li svg {
  transition: 0.1s all ease-in;
  height: 30px;
  width: 30px;
  -webkit-transition: 0.1s all ease-in;
  -moz-transition: 0.1s all ease-in;
  -ms-transition: 0.1s all ease-in;
  -o-transition: 0.1s all ease-in;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:hover {
  cursor: pointer;
  border-bottom: 5px solid #A5C9FF;
  transition: 0.1s all ease-in;
  -webkit-transition: 0.1s all ease-in;
  -moz-transition: 0.1s all ease-in;
  -ms-transition: 0.1s all ease-in;
  -o-transition: 0.1s all ease-in;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:nth-child(2) {
  position: relative;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:nth-child(2) form {
  display: none;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:nth-child(2) form input.navbar-search-input {
  position: absolute;
  top: 66px;
  left: -100%;
  width: 112px;
  padding: 10px 43px 10px 10px;
  border: 1px solid #A5C9FF;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:nth-child(2) form input.navbar-search-input:hover, body .site-wrap .header-wrap nav #nav__rightSide ul li:nth-child(2) form input.navbar-search-input:focus {
  outline: none;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:nth-child(2) form button {
  position: absolute;
  top: 75px;
  right: -100px;
  background: transparent;
  border: none;
  outline: none;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:nth-child(2):hover > form {
  display: block;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:nth-child(3) {
  position: relative;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:nth-child(3)::after {
  content: "12";
  position: absolute;
  top: 23px;
  right: -8px;
  font-size: 10px;
  background-color: #cd0000;
  color: #ffffff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 2px 4px;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:last-of-type {
  margin-right: 0;
}

body .site-wrap .header-wrap nav #nav__rightSide ul li:last-of-type svg {
  height: 40px;
  width: 40px;
}

body .site-wrap .nav {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 2 / 2 / 3 / 6;
  padding: 20px 70px 24px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .site-wrap .nav div h3 {
  font-size: 21px;
  color: #174A84;
}

body .site-wrap .nav div h5 {
  font-size: 14px;
  color: #A5C9FF;
  font-weight: lighter;
}

body .site-wrap .nav button.order-btn {
  outline: none;
  border: 1px solid #174A84;
  color: #ffffff;
  width: 177px;
  font-weight: bold;
  height: 48px;
  background-color: #174A84;
  font-size: 14px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

body .site-wrap .nav button.order-btn:hover {
  cursor: pointer;
  color: #174A84;
  border: 1px solid #AAFFBE;
  background-color: #AAFFBE;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .section-1-wrap {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3 / 2 / 6 / 4;
  padding: 0 70px 0 70px;
}

body .site-wrap .section-1-wrap main.section-1-main {
  height: 550px;
  width: 1032px;
  -webkit-box-shadow: 0px 0px 15px 2px #0a4a6d1e;
          box-shadow: 0px 0px 15px 2px #0a4a6d1e;
  background-color: #ffffff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  overflow-y: scroll;
}

body .site-wrap .section-1-wrap main.section-1-main::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

body .site-wrap .section-1-wrap main.section-1-main::-webkit-scrollbar-thumb {
  background: #A5C9FF;
  border-radius: 7px;
}

body .site-wrap .section-1-wrap main.section-1-main::-webkit-scrollbar-track {
  background: #ffffff;
}

body .site-wrap .section-1-wrap main.section-1-main header {
  padding: 27px 21px 22px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-wrap .section-1-wrap main.section-1-main header h5 {
  font-size: 16px;
  color: #174A84;
  font-weight: bold;
}

body .site-wrap .section-1-wrap main.section-1-main header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-wrap .section-1-wrap main.section-1-main header div button {
  height: 32px;
  width: 127px;
  font-size: 14px;
  color: #174A84;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: 1px solid #174A84;
  background-color: transparent;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

body .site-wrap .section-1-wrap main.section-1-main header div button:hover {
  cursor: pointer;
  transition: 0.5s all ease;
  color: #ffffff;
  border: 1px solid #174A84;
  background-color: #174A84;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .section-1-wrap main.section-1-main header div svg {
  height: 20px;
  width: 20px;
  margin-left: 18px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

body .site-wrap .section-1-wrap main.section-1-main header div svg:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

body .site-wrap .section-1-wrap main.section-1-main nav {
  padding-left: 23px;
}

body .site-wrap .section-1-wrap main.section-1-main nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .site-wrap .section-1-wrap main.section-1-main nav ul li {
  font-size: 14px;
  color: #174A84;
  font-weight: bold;
  margin-right: 30px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border-bottom: 3px solid transparent;
  padding-bottom: 2px;
}

body .site-wrap .section-1-wrap main.section-1-main nav ul li:hover {
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border-bottom: 3px solid #A5C9FF;
}

body .site-wrap .section-1-wrap main.section-1-main table {
  margin-top: 13px;
  border-collapse: collapse;
  width: 100%;
}

body .site-wrap .section-1-wrap main.section-1-main table thead {
  border-top: 1px solid #A5C9FF;
  border-bottom: 1px solid #A5C9FF;
  height: 50px;
  padding-left: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .site-wrap .section-1-wrap main.section-1-main table thead tr th {
  font-size: 14px;
  color: #174A84;
  font-weight: normal;
  text-align: left;
}

body .site-wrap .section-1-wrap main.section-1-main table thead tr th:first-child {
  padding-left: 23px;
}

body .site-wrap .section-1-wrap main.section-1-main table tbody tr {
  border-top: 1px solid #A5C9FF;
  border-bottom: 1px solid #A5C9FF;
  height: 50px;
  padding-left: 23px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

body .site-wrap .section-1-wrap main.section-1-main table tbody tr:hover {
  -webkit-box-shadow: inset 0 0 10px 5px #A5C9FF;
          box-shadow: inset 0 0 10px 5px #A5C9FF;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .section-1-wrap main.section-1-main table tbody tr td:first-child {
  padding-left: 23px;
}

body .site-wrap .section-1-wrap main.section-1-main table tbody tr td {
  font-size: 14px;
  color: #174A84;
  font-weight: normal;
  text-align: left;
  height: 63px;
  padding: 0 5px;
}

body .site-wrap .section-1-wrap main.section-1-main table tbody tr td#inner-table-tbody-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-wrap .section-1-wrap main.section-1-main table tbody tr td#inner-table-tbody-name img {
  margin-right: 20px;
}

body .site-wrap .section-1-wrap main.section-1-main table tbody tr td#inner-table-tbody-title > div {
  height: 32px;
  width: 50;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

body .site-wrap .section-1-wrap main.section-1-main table tbody tr td#inner-table-tbody-icon > svg {
  height: 25px;
  width: 15px;
}

body .site-wrap .section-2-wrap {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 3 / 5 / 6 / 6;
  padding: 0 70px 0 70px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 {
  width: 377px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap {
  height: 473;
  -webkit-box-shadow: 0px 0px 15px 2px #0a4a6d1e;
          box-shadow: 0px 0px 15px 2px #0a4a6d1e;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 20px 20px 38px 38px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar h6 {
  font-size: 16px;
  font-weight: bold;
  color: #174A84;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar div button {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: transparent;
  border: 1px solid #174A84;
  color: #174A84;
  width: 88px;
  height: 32px;
  outline: none;
  margin-right: 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: relative;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar div button .dropdown {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #ffffff;
  position: absolute;
  top: 32px;
  left: -1px;
  display: none;
  width: 86px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar div button .dropdown ul {
  list-style: none;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar div button .dropdown ul li {
  color: #174A84;
  font-size: 13px;
  padding: 10px;
  border-top: 1px solid #174A84;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar div button .dropdown ul li:hover {
  color: #ffffff;
  background-color: #A5C9FF;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar div button:hover {
  transition: 0.5s all ease;
  border: none;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar div button:hover > .dropdown {
  transition: 0.5s all ease;
  display: block;
  border-left: 1px solid #174A84;
  border-right: 1px solid #174A84;
  border-bottom: 1px solid #174A84;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar div svg {
  height: 20px;
  width: 20px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-1 .chart-wrap .chart-navbar div svg:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 {
  width: 377px;
  margin-top: 50px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap {
  height: 473;
  -webkit-box-shadow: 0px 0px 15px 2px #0a4a6d1e;
          box-shadow: 0px 0px 15px 2px #0a4a6d1e;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 20px 20px 38px 38px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar h6 {
  font-size: 16px;
  font-weight: bold;
  color: #174A84;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar div button {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: transparent;
  border: 1px solid #174A84;
  color: #174A84;
  width: 88px;
  height: 32px;
  outline: none;
  margin-right: 20px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: relative;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar div button .dropdown {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: #ffffff;
  position: absolute;
  top: 32px;
  left: -1px;
  display: none;
  width: 86px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar div button .dropdown ul {
  list-style: none;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar div button .dropdown ul li {
  color: #174A84;
  font-size: 13px;
  padding: 10px;
  border-top: 1px solid #174A84;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar div button .dropdown ul li:hover {
  color: #ffffff;
  background-color: #A5C9FF;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar div button:hover {
  transition: 0.5s all ease;
  border: none;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar div button:hover > .dropdown {
  transition: 0.5s all ease;
  display: block;
  border-left: 1px solid #174A84;
  border-right: 1px solid #174A84;
  border-bottom: 1px solid #174A84;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar div svg {
  height: 20px;
  width: 20px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .chart-navbar div svg:hover {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap h6 {
  font-size: 11px;
  color: #C7C8C9;
  font-weight: lighter;
  letter-spacing: 1px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap {
  margin-top: 23px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.stonks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #A5C9FF;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.stonks .seller-name {
  font-weight: bold;
  color: #174A84;
  font-size: 14px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.stonks .seller-cost {
  font-weight: bold;
  color: #174A84;
  font-size: 14px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.stonks .seller-percent {
  font-weight: bold;
  color: #AAFFBE;
  font-size: 14px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.stonks .seller-circle-icon {
  background-color: #AAFFBE;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.stonks .seller-circle-icon i.fa-angle-up {
  color: #0D472D;
  font-size: 20px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.not-stonks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cd0000;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.not-stonks .seller-name {
  font-weight: bold;
  color: #cd0000;
  font-size: 14px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.not-stonks .seller-cost {
  font-weight: bold;
  color: #cd0000;
  font-size: 14px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.not-stonks .seller-percent {
  font-weight: bold;
  color: #cd0000;
  font-size: 14px;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.not-stonks .seller-circle-icon {
  background-color: #FCF0F0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .site-wrap .section-2-wrap main.section-2-main-sub-2 .chart-wrap .seller-wrap .seller.not-stonks .seller-circle-icon i.fa-angle-down {
  color: #cd0000;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */